<main>
  <div class="container py-2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/camara2.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Circuito Cerrado</h5>
            <p class="card-text">
              Nuestras instalaciones están diseñadas para proporcionar un
              entorno seguro y protegido, gracias a nuestro sistema de circuito
              cerrado que vigila cada rincón del colegio. Con nosotros, la
              seguridad de tus hijos es una garantía.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/albercaIns.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Alberca</h5>
            <p class="card-text">
              Sumérgete en nuestra alberca de natación y descubre un espacio
              donde el deporte y la diversión se fusionan. Con instalaciones de
              primera clase y supervisión profesional, ofrecemos un ambiente
              seguro y estimulante para que nuestros alumnos desarrollen sus
              habilidades acuáticas. ¡Prepárate para nadar, divertirte y
              alcanzar tus metas en nuestra alberca de natación!
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/sanitario.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Santarios independientes</h5>
            <p class="card-text">
              Nuestros sanitarios independientes por nivel de planta garantizan
              comodidad y accesibilidad para todos nuestros estudiantes. Con
              instalaciones separadas en cada nivel, proporcionamos un ambiente
              higiénico y cómodo que promueve la privacidad y el bienestar de
              todos. En nuestro colegio, cada detalle está pensado para ofrecer
              la mejor experiencia posible a nuestros alumnos.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/direccion.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Recepción</h5>
            <p class="card-text">
              Bienvenido a nuestra recepción diseñada para ofrecerte una
              experiencia de espera cómoda y acogedora. Con espacios amplios,
              asientos confortables y un ambiente tranquilo, nuestra recepción
              es el lugar perfecto para relajarte mientras esperas. Nuestro
              personal estará encantado de atenderte y asegurarse de que tu
              espera sea lo más agradable posible. ¡Haz de nuestra recepción tu
              lugar de bienvenida preferido!
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/direccion2.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Dirección Escolar</h5>
            <p class="card-text">
              Nuestra dirección escolar está comprometida con brindarte una guía
              sólida y un ambiente de apoyo para tu trayectoria educativa. Con
              un equipo directivo dedicado y orientado al éxito estudiantil,
              nuestro objetivo es liderar con visión y compromiso para
              asegurarnos de que cada alumno alcance su máximo potencial. ¡Únete
              a nosotros en este emocionante viaje de aprendizaje y crecimiento!
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/computo.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Salón de computo</h5>
            <p class="card-text">
              Adéntrate en nuestro moderno salón de cómputo, un espacio equipado
              con la última tecnología para potenciar tu aprendizaje y
              desarrollo digital. Con computadoras de alto rendimiento y acceso
              a recursos educativos en línea, nuestro salón de cómputo te ofrece
              un entorno ideal para explorar, crear y aprender de manera
              innovadora. ¡Descubre un mundo de posibilidades en nuestro salón
              de cómputo!
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/lab.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Laboratorio</h5>
            <p class="card-text">
              Explora nuestro laboratorio equipado con tecnología de vanguardia
              y recursos especializados para potenciar tu experiencia educativa.
              Desde experimentos científicos hasta proyectos creativos, nuestro
              laboratorio ofrece un espacio dedicado para explorar, descubrir y
              aprender de manera práctica e innovadora. Nuestro equipo de
              profesionales está aquí para guiarte en tu viaje de descubrimiento
              y aprendizaje. ¡Bienvenido al laboratorio de posibilidades
              infinitas!
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/alimentos.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Área de alimentos</h5>
            <p class="card-text">
              Disfruta de nuestra área de alimentos diseñada para ofrecerte una
              experiencia gastronómica deliciosa y nutritiva. Con opciones
              variadas y saludables, nuestro objetivo es satisfacer tus
              necesidades alimenticias de manera equilibrada y sabrosa. Nuestro
              compromiso con la calidad y la frescura garantiza que cada comida
              sea una experiencia deliciosa. ¡Ven y descubre un mundo de sabores
              en nuestra área de alimentos!
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/aula.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Aulas de primer nivel</h5>
            <p class="card-text">
              En nuestras aulas de primer nivel, encontrarás un ambiente
              educativo excepcionalmente estimulante y enriquecedor. Diseñadas
              con tecnología de vanguardia y recursos pedagógicos innovadores,
              nuestras aulas están destinadas a inspirar el aprendizaje y el
              desarrollo integral de nuestros alumnos. Con un enfoque en la
              excelencia académica y el bienestar estudiantil, cada aula es un
              espacio donde se fomenta la curiosidad, la creatividad y el
              pensamiento crítico. Únete a nosotros y experimenta el aprendizaje
              de primer nivel en nuestras aulas.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
