<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h4 class="mb-3" style="font-family: 'Montserrat', sans-serif">
          Colegio Español Torre Fuerte
        </h4>
        <p style="font-family: 'Montserrat', sans-serif">
          <i class="bi bi-map-fill"></i> Ignacio manuel altamirano 30-2b,
          Carpinteros, 56367, chimalhuacán, México
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h4 class="mb-3" style="font-family: 'Montserrat', sans-serif">
          Contacto
        </h4>
        <p style="font-family: 'Montserrat', sans-serif">
          <i class="bi bi-phone-fill"></i> 55-85-45-20-98
        </p>
        <p style="font-family: 'Montserrat', sans-serif">
          <i class="bi bi-envelope-fill"></i>
          Colegioespanoltorrefuerte&#64;gmail.com
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <h4 class="mb-3" style="font-family: 'Montserrat', sans-serif">
          Redes Sociales
        </h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/profile.php?id=100083312982425&sk=photos&locale=es_LA"><i class="bi bi-facebook social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://wa.me/5585452098"
              ><i class="bi bi-whatsapp social-icon whatsapp-icon"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
