<div class="px-4 pt-4 my-4 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">
    Explora Nuestros Servicios Educativos: Innovación y Excelencia
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 desc">
      "Descubre nuestra oferta educativa completa para potenciar la innovación y
      excelencia académica. Aulas modernas, programas sólidos y un ambiente
      inspirador te esperan para alcanzar tus metas educativas."
    </p>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh">
    <div class="container px-5"></div>
  </div>
</div>

<div class="b-example-divider mb-0"></div>

<main>
  <div class="container py-2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/ingles.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Inglés</h5>
            <p class="card-text">
              Sumérgete en nuestro programa de inglés de excelencia. Aprendizaje
              moderno, metodología efectiva y profesores expertos te esperan
              para dominar el idioma de manera dinámica y efectiva.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/robotica.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Robótica</h5>
            <p class="card-text">
              Explora nuestro emocionante programa de robótica. Con tecnología
              de punta y proyectos innovadores, te invitamos a descubrir el
              fascinante mundo de la robótica y desarrollar habilidades de
              vanguardia.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/natacion.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Natación</h5>
            <p class="card-text">
              "Sumérgete en nuestro programa de natación. Con instructores
              capacitados y piscinas de primera calidad, te ofrecemos la
              oportunidad de aprender a nadar y mejorar tus habilidades
              acuáticas en un entorno seguro y divertido."
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/taek.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Tae-Kwondo</h5>
            <p class="card-text">
              "Únete a nuestro programa de Tae-kwondo. Con instructores expertos
              y un enfoque en el desarrollo físico y mental, te invitamos a
              explorar las disciplinas del Tae-kwondo y mejorar tu fuerza,
              flexibilidad y concentración."
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/musica.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Música</h5>
            <p class="card-text">
              Descubre nuestro programa de música. Con clases dinámicas,
              instrumentos de calidad y oportunidades de actuación, te invitamos
              a explorar y desarrollar tu pasión por la música en un ambiente
              inspirador y creativo.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/auto.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Transporte Escolar</h5>
            <p class="card-text">
              Viaja con seguridad y comodidad en nuestro servicio de transporte
              escolar. Con conductores profesionales y rutas eficientes, te
              ofrecemos una opción conveniente para llegar a nuestra institución
              y regresar a casa con tranquilidad.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/seguro.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Seguro Escolar</h5>
            <p class="card-text">
              Protege tu bienestar con nuestro seguro escolar. Ofrecemos
              cobertura integral para garantizar tu seguridad en el entorno
              educativo, brindándote tranquilidad y respaldo en caso de
              cualquier eventualidad.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/profeco.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Profesores Altamente Capacitados</h5>
            <p class="card-text">
              Disfruta de una educación de calidad con nuestros profesores
              altamente capacitados. Nuestro equipo de educadores está dedicado
              a brindarte una enseñanza excepcional y apoyarte en tu desarrollo
              académico y personal.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="./assets/img/limpio.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Áreas Limpias y Desinfectadas</h5>
            <p class="card-text">
              Priorizamos la salud y seguridad con áreas limpias y
              desinfectadas. Nuestras instalaciones están meticulosamente
              mantenidas para ofrecerte un entorno saludable y tranquilo donde
              puedas concentrarte en tu aprendizaje y bienestar.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
