.desc{
    font-size: 20px;
    text-transform: initial;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-family: "Montserrat", sans-serif;
    font-weight: 450; /* Aplica el peso "bold" */
    margin-bottom: 10px;
    text-align: center;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Aplica el peso "bold" */
  margin-bottom: 10px;
  text-align: center;
}

.card-title{
  color: #967548;
  text-align: start;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Aplica el peso "bold" */
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;

}

.card-text{
  color: #000000;
  text-align: start;
  font-size: 16px;
  text-transform: initial;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 450; /* Aplica el peso "bold" */
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}













@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
