<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators custom-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src=".\assets\img\promocion2.jpg" class="d-block w-100" alt="" />
      </div>
      <div class="carousel-item">
        <img src=".\assets\img\banner2.jpg" class="d-block w-100" alt="" />
      </div>
      <div class="carousel-item">
        <img src=".\assets\img\fachada.jpg" class="d-block w-100" alt="" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">¿Quienes somos?</h2>
        <p class="lead">
          Somos un equipo comprometido con la excelencia educativa y el
          desarrollo integral de nuestros alumnos. Nuestra institución se dedica
          a brindar un ambiente educativo estimulante, innovador y seguro, donde
          cada alumno pueda alcanzar su máximo potencial académico y personal.
          Con profesores altamente capacitados, programas educativos sólidos y
          un enfoque en el crecimiento individual de cada estudiante, estamos
          aquí para guiar y apoyar tu camino hacia el éxito. ¡Bienvenido a
          nuestra comunidad educativa!
        </p>
      </div>
      <div class="col-md-5">
        <img src=".\assets\img\quienes.jpg" class="img-fluid" alt="" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¿Que ofrecemos?</h2>
        <p class="lead">
          Ofrecemos una educación de calidad que incluye programas académicos
          sólidos, actividades extracurriculares enriquecedoras, instalaciones
          modernas y un equipo docente comprometido con el éxito de nuestros
          alumnos.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src=".\assets\img\ofrecemos.jpg" class="img-fluid" alt="" />
      </div>
    </div>

    <hr class="featurette-divider" />
  </div>

  <div class="container">
    <h2 class="text-center">Niveles Educativos</h2>
    <div class="card-group">
      <div class="card">
        <img src=".\assets\img\escuela.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Primaria</h5>
          <p class="card-text">
            ¡Descubre un mundo de aprendizaje y diversión en nuestra escuela
            primaria! Nuestro enfoque educativo centrado en el alumno fomenta la
            curiosidad, la creatividad y el amor por el aprendizaje. Con
            profesores dedicados y programas innovadores, cada día es una
            aventura de descubrimiento en nuestra primaria. Prepárate para
            explorar, aprender y crecer en un ambiente seguro y acogedor que
            inspira a nuestros alumnos a alcanzar su máximo potencial.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src=".\assets\img\secundariaa.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Secundaria</h5>
          <p class="card-text">
            En nuestra escuela secundaria, el futuro comienza hoy. Aquí, los
            estudiantes se sumergen en un ambiente estimulante que les desafía a
            alcanzar nuevas alturas académicas y personales. Con un enfoque en
            la excelencia académica, la formación integral y el desarrollo de
            habilidades para la vida, nuestra secundaria prepara a los jóvenes
            para enfrentar los desafíos del mundo moderno con confianza y
            determinación. Únete a nosotros y descubre un camino hacia el éxito
            que va más allá de las aulas.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src=".\assets\img\preparatoria2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Bachillerato</h5>
          <p class="card-text">
            En el bachillerato de nuestra escuela, los sueños se hacen realidad.
            Aquí, los estudiantes se embarcan en un viaje educativo emocionante
            que les prepara para enfrentar el futuro con confianza y habilidades
            sólidas. Con un currículo riguroso, actividades extracurriculares
            enriquecedoras y apoyo personalizado, nuestros alumnos se destacan
            en todas las áreas, desde las artes hasta las ciencias. Prepárate
            para alcanzar tus metas y descubrir tu potencial ilimitado en
            nuestro bachillerato de clase mundial.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
