<div class="card">
  <img src="./assets/img/HomePage.png" alt="foto" class="img-fluid" />
</div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cardGrados">
        <div class="card-body">
          <h2 class="card-title">PRIMARIA</h2>
        </div>
        <img src="./assets/img/primariaColegio.jpg" alt="" width="80%" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cardGrados">
        <div class="card-body">
          <h2 class="card-title">SECUNDARIA</h2>
        </div>
        <img src="./assets/img/secundaria.jpg" alt="imagenTae" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cardGrados">
        <div class="card-body">
          <h2 class="card-title">BACHILLERATO</h2>
        </div>
        <img src="./assets/img/prepa2.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
